* *:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", serif;
}

p {
  font-size: 0.9em;
}

h2 {
  margin-right: 60px;
}

a {
  text-decoration: none;
  color: black;
}

.bold {
  font-weight: bold;
}

header {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  filter: drop-shadow(0 3px 5px #8c8c8c);
}
header div {
  width: 180px;
}
header img {
  width: 180px;
  padding: 20px 0 20px 0;
}
header a {
  position: relative;
  right: 50px;
}

.toppage {
  width: auto;
  height: 300px;
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 992px) {
  .toppage {
    height: 110px;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
}
.toppage p {
  width: 250px;
  text-align: center;
  color: #666666;
}
@media screen and (min-width: 992px) {
  .toppage p {
    padding: 10px;
  }
}
.toppage-location {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5e5e5;
}
@media screen and (min-width: 992px) {
  .toppage-location {
    background-color: #F2F2F2;
    width: auto;
    padding: 10px;
  }
}
.toppage-location p {
  width: 135px;
  color: black;
}
.toppage h1 {
  font-size: 1.4em;
  width: 250px;
  text-align: center;
}

.fonctionning {
  width: auto;
  height: 350px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding-bottom: 40px;
}
@media screen and (min-width: 992px) {
  .fonctionning {
    align-items: flex-start;
    height: 160px;
    padding-bottom: 0;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .fonctionning {
    align-items: flex-start;
    height: 160px;
    padding-bottom: 0;
  }
}
.fonctionning-block {
  height: 300px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding-bottom: 40px;
}
@media screen and (min-width: 992px) {
  .fonctionning-block {
    flex-direction: row;
    width: 100%;
    height: 100px;
    justify-content: flex-start;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .fonctionning-block {
    flex-direction: row;
    width: 100%;
    height: 100px;
    justify-content: flex-start;
  }
}
.fonctionning-filter {
  width: 290px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 992px) {
  .fonctionning-filter {
    margin-right: 30px;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .fonctionning-filter {
    margin-right: 30px;
  }
}
.fonctionning-num {
  font-size: 8px;
  padding: 4px 6px 4px 6px;
  background-color: #9356DC;
  border-radius: 100%;
  position: relative;
  left: 10px;
  color: white;
  z-index: 1;
}
.fonctionning-i {
  padding: 0 20px;
}
.fonctionning-i__violet {
  color: #9356DC;
}
.fonctionning-div {
  width: 384px;
  padding: 6px;
  display: flex;
  align-items: center;
  background-color: #F2F2F2;
  border-radius: 10px;
  filter: drop-shadow(2px 2px 6px #d9d9d9);
}
.fonctionning-div p {
  font-weight: bold;
}
.fonctionning-div__violet {
  background: #f2eafb;
}
.fonctionning-div:hover {
  background: #f2eafb;
  color: #9356DC;
}
@media (max-width: 991px) and (min-width: 768px) {
  .fonctionning-div {
    width: 170px;
  }
}

.restaurant {
  width: auto;
  height: 1070px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background-color: #F2F2F2;
}
@media screen and (min-width: 992px) {
  .restaurant {
    width: auto;
    height: 400px;
    align-items: flex-start;
    padding: 10px;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .restaurant {
    height: 630px;
  }
}
.restaurant-block {
  height: 970px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 992px) {
  .restaurant-block {
    width: 100%;
    flex-direction: row;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .restaurant-block {
    flex-direction: row;
    width: 630px;
  }
}
.restaurant-duo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 470px;
}
@media screen and (min-width: 992px) {
  .restaurant-duo {
    flex-direction: row;
    width: 570px;
  }
}
.restaurant-article {
  filter: drop-shadow(2px 2px 6px #d9d9d9);
}
@media screen and (min-width: 992px) {
  .restaurant-article {
    margin: 10px;
    width: 220px;
  }
}
.restaurant-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.restaurant h2 {
  margin-right: 130px;
  height: 0px;
}
@media (max-width: 991px) and (min-width: 768px) {
  .restaurant h2 {
    margin-right: 450px;
  }
}
.restaurant-img {
  height: 150px;
}
.restaurant img {
  width: 280px;
  height: 150px;
  object-fit: cover;
  object-position: 100% 65%;
  border-radius: 10px 10px 0 0;
}
@media screen and (min-width: 992px) {
  .restaurant img {
    width: 220px;
  }
}
.restaurant-new {
  width: 60px;
  font-size: 14px;
  background-color: #99E2D0;
  padding: 7px 10px 7px 10px;
  border-radius: 5px;
  position: relative;
  bottom: 140px;
  left: 188px;
}
@media screen and (min-width: 992px) {
  .restaurant-new {
    left: 130px;
  }
}
.restaurant-text {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  height: 74px;
  line-height: 6px;
  border-radius: 0 0 10px 10px;
}
.restaurant .padding-left {
  padding-left: 10px;
}
.restaurant-heart {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #404040;
  color: white;
  padding: 20px 0 40px 0;
}
@media screen and (min-width: 992px) {
  .footer {
    width: auto;
    justify-content: flex-start;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .footer {
    width: auto;
    justify-content: flex-start;
  }
}
.footer a {
  color: white;
}
.footer-block {
  width: 280px;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 992px) {
  .footer-block {
    justify-content: flex-start;
    height: 200px;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .footer-block {
    justify-content: flex-start;
    height: 200px;
  }
}
@media screen and (min-width: 992px) {
  .footer div {
    margin: 20px;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .footer div {
    margin: 20px;
  }
}
.footer-logo img {
  width: 100px;
  filter: invert(1);
}

.btn {
  width: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  padding: 15px 25px 15px 25px;
  border-radius: 25px;
  margin: 25px 25px 25px 40px;
  filter: drop-shadow(0px 2px 4px #a6a6a6);
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 992px) {
  .btn__position {
    display: flex;
    justify-content: flex-end;
  }
}
.btn:hover .btn-on {
  opacity: 1;
}
.btn-on {
  position: absolute;
  border-radius: 25px;
  background: linear-gradient(#ffa2e5, #a978e3);
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: opacity 250ms;
  filter: drop-shadow(0px 3px 3px #7f7f7f);
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.side-topimg {
  height: 200px;
}
.side-topimg img {
  width: 100%;
  height: 243px;
  object-fit: cover;
  object-position: 100% 45%;
  position: relative;
  z-index: -1;
}

.menu {
  width: 100%;
  height: 1300px;
  padding-top: 10px;
  background: #F2F2F2;
  border-radius: 30px 30px 0 0;
  z-index: 1;
}
@media screen and (min-width: 992px) {
  .menu {
    padding-bottom: 20px;
    height: 550px;
  }
}
.menu__extend {
  height: 1400px;
}
@media screen and (min-width: 992px) {
  .menu__extend {
    height: 630px;
  }
}
@media screen and (min-width: 992px) {
  .menu-row {
    display: flex;
    justify-content: space-between;
  }
}
.menu-h1 {
  font-size: 30px;
  margin: 0 12px 0 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 992px) {
  .menu-h1 {
    justify-content: center;
  }
}
.menu-h1 h1 {
  font-family: "Shrikhand", serif;
  font-size: 25px;
}
.menu h3 {
  margin: 0;
  font-size: 17px;
}
.menu-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 350px;
  max-height: 450px;
  margin: 12px 12px 0 12px;
}
@media screen and (min-width: 992px) {
  .menu-block {
    width: 400px;
    height: 350px;
  }
}
.menu-title {
  margin-bottom: 20px;
  border-bottom: 2px solid #99E2D0;
  width: 40px;
}
.menu-title h2 {
  margin-bottom: 3px;
  font-weight: normal;
  font-size: 17px;
}
.menu-firstcourse {
  animation: slidebottom 1.5s, apparence 1.5s;
  height: 350px;
}
.menu-firstcourse__extend {
  height: 450px;
}
.menu-plate {
  animation: slidebottom 1.5s 500ms, apparence 2s;
}
.menu-dessert {
  animation: slidebottom 1.5s 1000ms, apparence 2.5s;
}

@keyframes slidebottom {
  from {
    padding-top: 40px;
  }
  to {
    padding-top: 0;
  }
}
@keyframes apparence {
  from {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.btnheart {
  background-color: white;
  height: 74px;
  line-height: 6px;
  border-radius: 0 0 10px 10px;
  position: relative;
}
.btnheart__off {
  font-size: 30px;
  position: absolute;
  right: 20px;
}
.btnheart__on {
  right: 18px;
  position: absolute;
  font-size: 34px;
  opacity: 0;
}
.btnheart__on:hover {
  opacity: 1;
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition-delay: 100ms;
  transition-duration: 300ms;
  transform: translatez(34px);
}

body .loaded-page {
  animation: loaded-page 3s;
}
body .loading {
  position: fixed;
  z-index: -1;
  display: flex;
  justify-content: center;
}
body .loading--full-height {
  align-items: center;
  height: 100%;
  width: 100%;
}
body .loading::after {
  content: "";
  width: 50px;
  height: 50px;
  border: 10px solid #dddddd;
  border-top-color: #9356DC;
  border-radius: 50%;
  animation: loading 2.5s ease;
  opacity: 0;
}

@keyframes loading {
  from {
    opacity: 1;
    transform: rotate(2turn);
  }
  95% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes loaded-page {
  from {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.menu-dish {
  display: block;
  background-color: #FFFFFF;
  display: flex;
  padding: 10px;
  border-radius: 10px;
  filter: drop-shadow(2px 2px 6px #d9d9d9);
  overflow: hidden;
  cursor: pointer;
  max-width: 100%;
  height: 60px;
}
.menu-dish__header {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1;
}
.menu-dish__header h3 {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu-dish__header p {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu-dish__price {
  font-weight: bold;
  color: #666;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 10px;
}
.menu-dish__confirmation {
  background-color: #99E2D0;
  margin: -10px -80px -10px 14px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
}
.menu-dish:hover .menu-dish__confirmation {
  margin-right: -10px;
}
.menu-dish__add {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-dish__icon {
  font-size: 30px;
  color: #FFFFFF;
}
.menu-dish:hover .menu-dish__icon {
  transform: rotate(360deg);
  transition-duration: 600ms;
  font-size: 30px;
  color: #FFFFFF;
}

/*# sourceMappingURL=style.css.map */
