* *:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", serif;
}

p {
  font-size: 0.9em;
}

h2 {
  margin-right: 60px;
}

a {
  text-decoration: none;
  color: black;
}

header {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  filter: drop-shadow(0 3px 5px #8c8c8c);
}
header div {
  width: 180px;
}
header img {
  width: 180px;
  padding: 20px 0 20px 0;
}
header a {
  position: relative;
  right: 50px;
}

.toppage {
  width: auto;
  height: 300px;
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.toppage p {
  width: 250px;
  text-align: center;
  color: #666666;
}
.toppage-location {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5e5e5;
}
.toppage-location p {
  width: 135px;
  color: black;
}
.toppage h1 {
  font-size: 1.4em;
  width: 250px;
  text-align: center;
}

.fonctionning {
  width: auto;
  height: 300px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding-bottom: 40px;
}
.fonctionning-block {
  width: 290px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fonctionning-num {
  font-size: 8px;
  padding: 4px 6px 4px 6px;
  background-color: #9356DC;
  border-radius: 100%;
  position: relative;
  left: 10px;
  color: white;
  z-index: 1;
}
.fonctionning-i {
  padding: 0 20px;
}
.fonctionning-i__violet {
  color: #9356DC;
}
.fonctionning-div {
  width: 384px;
  padding: 6px;
  display: flex;
  align-items: center;
  background-color: #F2F2F2;
  border-radius: 10px;
  filter: drop-shadow(2px 2px 6px #d9d9d9);
}
.fonctionning-div p {
  font-weight: bold;
}
.fonctionning-div__violet {
  background: #f2eafb;
}
.fonctionning-div:hover {
  background: #f2eafb;
  color: #9356DC;
}

.restaurant {
  width: auto;
  height: 1050px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background-color: #F2F2F2;
}
.restaurant-block {
  filter: drop-shadow(2px 2px 6px #d9d9d9);
}
.restaurant-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.restaurant h2 {
  margin-right: 130px;
  height: 0px;
}
.restaurant-img {
  height: 150px;
}
.restaurant img {
  width: 280px;
  height: 150px;
  object-fit: cover;
  object-position: 100% 65%;
  border-radius: 10px 10px 0 0;
}
.restaurant-new {
  width: 60px;
  font-size: 14px;
  background-color: #99E2D0;
  padding: 7px 10px 7px 10px;
  border-radius: 5px;
  position: relative;
  bottom: 140px;
  left: 188px;
}
.restaurant-text {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  height: 74px;
  line-height: 6px;
  border-radius: 0 0 10px 10px;
}
.restaurant .padding-left {
  padding-left: 10px;
}
.restaurant-heart {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #404040;
  color: white;
  padding: 20px 0 40px 0;
}
.footer a {
  color: white;
}
.footer-block {
  width: 280px;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-logo img {
  width: 100px;
  filter: invert(1);
}

.btn {
  border: none;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  padding: 15px 25px 15px 25px;
  border-radius: 25px;
  margin: 25px;
  filter: drop-shadow(0px 2px 4px #a6a6a6);
  position: relative;
  z-index: 1;
}
.btn:hover .btn-on {
  opacity: 1;
}
.btn-on {
  position: absolute;
  border-radius: 25px;
  background: linear-gradient(#ffa2e5, #a978e3);
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: opacity 250ms;
  filter: drop-shadow(0px 3px 3px #7f7f7f);
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.side {
  min-height: 1510px;
  max-height: 1520px;
}
.side-topimg img {
  width: 100%;
  height: 243px;
  object-fit: cover;
  object-position: 100% 45%;
  position: absolute;
}

.menu {
  position: relative;
  top: 210px;
  width: 100%;
  min-height: 1250px;
  max-height: 1300px;
  padding-top: 10px;
  background: #F2F2F2;
  border-radius: 30px 30px 0 0;
}
.menu h3 {
  margin: 0;
}
.menu-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 350px;
  max-height: 450px;
}
.menu-dish {
  height: 65px;
  background: white;
  margin: 13px;
  border-radius: 10px;
  filter: drop-shadow(2px 2px 6px #d9d9d9);
}
.menu-price {
  display: flex;
  justify-content: space-between;
}

.btnheart {
  background-color: white;
  height: 74px;
  line-height: 6px;
  border-radius: 0 0 10px 10px;
  position: relative;
}
.btnheart__off {
  font-size: 30px;
  position: absolute;
  right: 20px;
}
.btnheart__on {
  right: 18px;
  position: absolute;
  font-size: 34px;
  opacity: 0;
}
.btnheart__on:hover {
  opacity: 1;
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition-delay: 100ms;
  transition-duration: 300ms;
  transform: translatez(34px);
}

/*# sourceMappingURL=style.css.map */
