.side {
    &-topimg {
        height: 200px;
        & img {
            width: 100%;
            height: 243px;
            object-fit: cover;
            object-position: 100% 45%;
            position: relative;
            z-index: -1;
        }
    }
}

.menu {
    width: 100%;
    min-height: 1250px;
    max-height: 1370px;
    padding-top: 10px;
    background: $background-primary;
    border-radius: 30px 30px 0 0;
    z-index: 1;
    &-h1 {
        font-size: 30px;
        margin: 0 12px 0 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        & h1 {
            font-family: "Shrikhand", serif;
            font-size: 25px;
        }
    }
    & h3 {
        margin: 0;
        font-size: 17px;
    }
    &-block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 350px;
        max-height: 450px;
        margin: 12px 12px 0 12px;
    }
    &-title {
        margin-bottom: 20px;
        border-bottom: 2px solid $color-tertiary;
        width: 40px;
        & h2 {
            margin-bottom: 3px;
            font-weight: normal;
            font-size: 17px;
        }
    }
    &-dish {
        height: 65px;
        background: white;
        border-radius: 10px;
        @include block-shadow;
        margin-bottom: 26px;
        padding: 8px 20px 0 8px;
        z-index: 1;
        animation: slidebottom 2s;
        &:hover {
            & .menu-dish__reduced {
                transform: scalex(0.8);
            }
            & .menu-dish-add {
                transform: scaleX(0.2);
            }
            & i {
                transform: scale(1);
            }
        }
        &__reduced {
            transform-origin: 0 100%;
            transform: scalex(1);
            transition: transform 400ms;
        }
        &-add {
            display: flex;
            justify-content: center;
            align-items: center;
            background: $color-tertiary;
            border-radius: 0 15% 15% 0;
            position: absolute;
            z-index: -1;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            transform-origin: 100% 80%;
            transform: scaleX(0);
            transition: transform 400ms;
        }
        & i {
            transform: scale(O);
            font-size: 15px;
        }
    }
    &-price {
        display: flex;
        justify-content: space-between;
        & p {
            font-size: 13px;
            margin: 12px 0 0 0;
        }
    }
}

@keyframes slidebottom {
    from {
        margin-top: 20px;
        opacity: 0;
    }
    to {
        margin-top: 0;
        opacity: 1;
    }
}


/*    &-dish {
        height: 65px;
        background: white;
        border-radius: 10px;
        @include block-shadow;
        margin-bottom: 26px;
        padding: 8px 20px 0 8px;
        position: relative;
        z-index: 1;
        &:hover {
            & .menu-dish-add {
                transform: scaleX(0.25);  !!!FOND VERT SE DIMINUANT DE LA DROITE!!!
            }
        }
        &-add {
            background: $color-tertiary;
            border-radius: 0 10px 10px 0;
            position: absolute;
            z-index: -1;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            transform-origin: 100% 80%;
            transform: scaleX(0);
            transition: transform 400ms;
        }
    }*/


/*    &-dish {
        height: 65px;
        background: white;
        border-radius: 10px;
        @include block-shadow;
        margin-bottom: 26px;
        padding: 8px 20px 0 8px;
        z-index: 1;
        transform-origin: 0 100%;
        transform: scalex(1);
        transition: transform 400ms;
        &:hover {
            transform: scalex(0.8);   !!!DIV ENTIERE AVEC BORDER DIMINUANT DE LA DROITE!!!
        }
        &-add {
            background: $color-tertiary;
            border-radius: 0 10px 10px 0;
            z-index: -1;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }*/