.footer {
    display: flex;
    justify-content: center;
    background-color: darken($color: $background-primary, $amount: 70%);
    color: white;
    padding: 20px 0 40px 0;
    @include desktop-only {
        width: auto;
        justify-content: flex-start;
        height: 300px;
    }
    @include tablet-only {
        width: auto;
        justify-content: flex-start;
        height: 300px;
    }
    & a {
        color: white;
    }
    &-block {
        width: 280px;
        height: 160px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include desktop-only {
            justify-content: flex-start;
            height: 200px;
        }
        @include tablet-only {
            justify-content: flex-start;
            height: 200px;
        }
    }
    & div {
        @include desktop-only {
            margin: 20px;
        }
        @include tablet-only {
            margin: 20px;
        }
    }
    &-logo {
        & img {
            width: 100px;
            filter: invert(1);
        }
    }
}