.restaurant {
    width: auto;
    height: 1070px;
    padding-bottom: $padding-bottom;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: $background-primary;
    @include desktop-only {
        width: auto;
        height: 400px;
        align-items: flex-start;
        padding: 10px;
    }
    @include tablet-only {
        height: 630px;
    }
    &-block {
        height: 970px;
        padding-bottom: $padding-bottom;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        @include desktop-only {
            width: 100%;
            flex-direction: row
        }
        @include tablet-only {
            flex-direction: row;
            width: 630px;
        }
    }
    &-duo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 470px;
        @include desktop-only {
            flex-direction: row;
            width: 570px;
        }
    }
    &-article {
        @include block-shadow;
        @include desktop-only {
            margin: 10px;
            width: 220px;
        }
    }
    &-card {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    & h2 {
        margin-right: 130px;
        height: 0px;
        @include tablet-only {
            margin-right: 450px;
        }
    }
    &-img {
        height: 150px;
    }
    & img {
        width: 280px;
        height: 150px;
        object-fit: cover;
        object-position: 100% 65%;
        border-radius: 10px 10px 0 0;
        @include desktop-only {
            width: 220px;
        }
    }
    &-new {
        width: 60px;
        font-size: 14px;
        background-color: $color-tertiary;
        padding: 7px 10px 7px 10px;
        border-radius: 5px;
        position: relative;
        bottom: 140px;
        left: 188px;
        @include desktop-only {
            left: 130px;
        }
    }
    &-text {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: lighten($color: $background-primary, $amount: 5%);
        height: 74px;
        line-height: 6px;
        border-radius: 0 0 10px 10px;
    }
    & .padding-left {
        padding-left: 10px;
    }
    &-heart {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}