.toppage {
    width: auto;
    height: 300px;
    background-color: $background-primary;
    display: flex;
    flex-direction: column;
    align-items: center;
    & p {
        width: 250px;
        text-align: center;
        color: lighten($color: black, $amount: 40%);
    }
    &-location {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: darken($color: $background-primary, $amount: 5%);
        & p {
            width: 135px;
            color: black;
        }
    }
    & h1 {
        font-size: map-get($font-size, h1);
        width: 250px;
        text-align: center;
    }
}